- name: Create rdoinfo user
  user:
    name: rdoinfo
    comment: 'rdoinfo user'
    home: '/home/rdoinfo'
    create_home: yes
    groups: users, mock
    append: yes

- name: Ensure rdoinfo home contents belong to the rdoinfo user
  file:
    path: /home/rdoinfo
    state: directory
    recurse: yes
    owner: rdoinfo
    group: rdoinfo

- name: Set 755 permissions to rdoinfo home
  file:
    path: /home/rdoinfo
    state: directory
    mode: 0755

- name: Clone rdoinfo repo
  git:
    repo: 'https://github.com/redhat-openstack/rdoinfo'
    dest: '/home/rdoinfo/rdoinfo'
    version: master
    update: no
  become: yes
  become_user: rdoinfo

- name: Deploy rdoinfo-update script
  copy:
    src: rdoinfo-update.sh
    dest: /usr/local/bin/rdoinfo-update.sh
    mode: 0755

- name: Create cron job to update rdoinfo contents
  cron:
    name: rdoinfo-update
    user: rdoinfo
    minute: "3,33"
    hour: "*"
    day: "*"
    job: '/usr/local/bin/rdoinfo-update.sh > /dev/null'

- name: Create symlink to rdoinfo repo
  file:
    src: /home/rdoinfo/rdoinfo
    dest: /var/www/html/rdoinfo
    state: link
