- name: Install required packages for (Python 2)
  package:
    name:
      - httpd
      - mod_wsgi
    state: present
  when:
    - ansible_distribution_major_version | int == 7
    - force_python_version is not defined or force_python_version != "python3"

- name: Install required packages (Python 3)
  package:
    name:
      - httpd
      - python3-mod_wsgi
    state: present
  when: (ansible_distribution_major_version | int == 8) or (force_python_version is defined and force_python_version == "python3")

- name: Deploy mod_ssl
  package:
    name: mod_ssl
  when: enable_https

- name: Create /var/www/html/images directory
  file:
    path: /var/www/html/images
    state: directory
    mode: '0755'

- name: Deploy RDO logo
  copy:
    src: web/rdo-logo-white.png
    dest: /var/www/html/images/rdo-logo-white.png
    mode: '0644'

- name: Deploy home page
  copy:
    src: web/index.html
    dest: /var/www/html/index.html
    mode: '0644'

- name: Remove cron job to run update-web-index, if present
  cron:
    name: update-web-index
    user: root
    state: absent

- name: Start httpd service
  service:
    name: httpd
    state: started
    enabled: yes

- name: Request SSL certficate
  when:
    - enable_https
    - dlrn_manage_letsencrypt | default(false)
  block:
    - name: Prepare facts for task
      set_fact:
        ssl_cert_options:
          cert1:
            email: "{{ cert_mail | default('softwarefactory-operations-team@redhat.com') }}"
            domain: "{{ web_domain }}"
            webroot: "/var/www/html"
        certbot_plugin: "--webroot"

    - name: Run SSL certificate request
      include_tasks: ssl.yml

- name: Deploy vhost for port 80
  template:
    src: vhost_80.j2
    dest: "/etc/httpd/conf.d/25-{{ web_domain }}.conf"
    owner: root
    group: root
    mode: '0644'
  notify: Restart httpd

- name: Deploy vhost for port 443
  template:
    src: vhost_443.j2
    dest: "/etc/httpd/conf.d/25-ssl-{{ web_domain }}.conf"
    owner: root
    group: root
    mode: '0644'
  when: enable_https
  notify: Restart httpd

- name: Allow long file names in autoindex.conf
  lineinfile:
    path: /etc/httpd/conf.d/autoindex.conf
    regexp: '^IndexOptions'
    line: "IndexOptions FancyIndexing HTMLTable VersionSort NameWidth=* DescriptionWidth=* Charset=UTF-8"
  notify: Restart httpd

- name: Check if keytab for API exists
  stat:
    path: "{{ api_keytab }}"
  register: api_keytab_file
  when: api_keytab is defined

- name: Change API keytab permission
  file:
    path: "{{ api_keytab }}"
    state: file
    owner: root
    group: root
    mode: "0744"
  when:
    - api_keytab is defined
    - api_keytab_file.stat.exists
  become: true

- name: Check if http keytab for API exists
  stat:
    path: "{{ api_keytab }}"
  register: http_api_keytab_file
  when: http_api_keytab is defined

- name: Change http keytab permission
  file:
    path: "{{ api_keytab }}"
    state: file
    owner: root
    group: root
    mode: "0744"
  when:
    - http_api_keytab is defined
    - http_api_keytab_file.stat.exists
  become: true
