{% if worker.value.db_connection == 'sqlite:///commits.sqlite' %}
DB_PATH = 'sqlite:////home/{{ worker.key }}/dlrn/commits.sqlite'
{% else %}
DB_PATH = '{{ worker.value.db_connection }}'
{% endif %}
REPO_PATH = '/home/{{ worker.key }}/data/repos'
CONFIG_FILE = '/usr/local/share/dlrn/{{ worker.key }}/projects.ini'

{% if worker.value.enable_api_login_logs|default(False) %}
API_LOG_PATH = '/home/{{ worker.key }}/dlrn-logs/api_login.log'
API_LOG_LEVEL= 'INFO'

DLRN_DEBUG = False
DLRN_LOG_FILE = /home/{{ worker.key }}/dlrn-logs/api.log
API_AUTH_DEBUG = False
API_AUTH_LOG_FILE = /home/{{ worker.key }}/dlrn-logs/api_login.log

{% endif %}
