<VirtualHost *:80>
  ServerName default

  ## Vhost docroot
  DocumentRoot "/var/www/html"

  ## Directories, there should at least be a declaration for /var/www/html

  <Directory "/var/www/html">
    Options Indexes FollowSymLinks MultiViews
    AllowOverride FileInfo
    AddType text/plain yaml yml
    Require all granted
  </Directory>

  # Ensure we set proper headers for cache management.
  <FilesMatch "\.(md5)$">
    FileEtag none
    Header unset ETag
    # Let cache for 1800s (30 minutes), but let's accept serving old data for another 30 minutes
    Header set Cache-Control "max-age=1800, public, stale-if-error=1800"
  </FilesMatch>

{% for worker in api_workers %}
  # WSGI configuration for worker {{ worker }}
  # NOTE(dpawlik): use python-path param instead of python-home,
  # if python version required to compile mod_wsgi was different.
  WSGIDaemonProcess dlrn-{{ worker }} python-home=/home/{{ worker }}/.venv group={{ worker }} processes=5 threads=1 user={{ worker }}
  WSGIScriptAlias /api-{{ worker }} "/home/{{ worker }}/api/dlrn-api-{{ worker }}.wsgi"
  {% if worker | regex_search('^rhel8-.*') %}WSGIScriptAlias /api-{{ worker | replace('rhel8', 'redhat') }} "/home/{{ worker }}/api/dlrn-api-{{ worker }}.wsgi"{% endif %}

  <Location "/api-{{ worker }}">
    Require all granted
    SetEnv CONFIG_FILE /home/{{ worker }}/api/dlrn-api-{{ worker }}.cfg
    WSGIProcessGroup dlrn-{{ worker }}
    WSGIPassAuthorization On
  </Location>

  {% if worker | regex_search('^rhel8-.*') %}<Location "/api-{{ worker | replace('rhel8', 'redhat') }}">
    Require all granted
    SetEnv CONFIG_FILE /home/{{ worker }}/api/dlrn-api-{{ worker }}.cfg
    WSGIProcessGroup dlrn-{{ worker }}
    WSGIPassAuthorization On
  </Location>{% endif %}

  {% if worker | regex_search('.*-master-uc$') %}RewriteEngine on
  RewriteRule ^/api-{{ worker | replace ('-master-uc', '-master') }}/(.*) /api-{{ worker }}/$1 [PT]{% endif %}

{% endfor %}

  ## Logging
  ErrorLog "/var/log/httpd/{{ web_domain }}_error.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/{{ web_domain }}_access.log" combined

  <Location "/server-status">
    SetHandler server-status
    Require host localhost
  </Location>

{% if enable_https %}
  ## Redirect to HTTPS permanently
  Redirect permanent / https://{{ web_domain }}/
{% endif %}
{% if redirect_rules %}
  ## Redirect rules
{% for redirect in redirect_rules %}
{% if redirect.match|default(False) %}
  RedirectMatch {{ redirect.src }} {{ redirect.target }}
{% else %}
  Redirect {{ redirect.src }} {{ redirect.target }}
{% endif %}
{% endfor %}
{% endif %}
</VirtualHost>

